#map:-webkit-full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

#map:-ms-fullscreen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

#map:full-screen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

#map:fullscreen {
	width: 100% !important;
	height: 100% !important;
	z-index: 99999;
}

.leaflet-pseudo-fullscreen {
	position: fixed !important;
	width: 100% !important;
	height: 100% !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 99999;
}

#wrapper-250 {
	width: 180px;
	margin: 0 auto;
	font-weight: normal;
	height: 300px;
	margin-right: 5px;
}

@/*font-face {
	font-family: 'iconfont';
	src: url('<%=path %>/resources/metronic/global/gis/font/iconfont.eot');
	/* IE9*/
	src: url('<%=path %>/resources/metronic/global/gis/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('<%=path %>/resources/metronic/global/gis/font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('<%=path %>/resources/metronic/global/gis/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('<%=path %>/resources/metronic/global/gis/font/iconfont.svg#iconfont') format('svg');
	/* iOS 4.1- */
}*/

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.icon {
	font-size: 20px;
	margin: 10px 0;
	color: #333;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

.icon_error {
	font-size: 20px;
	margin: 10px 0;
	color: red;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

.iconfloor {
	font-size: 20px;
	color: #333;
	-webkit-transition: font-size 0.25s ease-out 0s;
	-moz-transition: font-size 0.25s ease-out 0s;
	transition: font-size 0.25s ease-out 0s;
}

.icon:hover {
	font-size: 40px;
}

.icon_error:hover {
	font-size: 40px;
}

.iconfloor->img:hover {
	width: 35px;
}

.dw-libox ul li {
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	float: left;
	font-size: 14px;
	height: 21px;
	line-height: 25px;
	width: 68px;
	list-style: outside none none;
	text-align: center;
	cursor: pointer;
}

input[type=checkbox] {
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin: 7px;
	margin-left: 17px;
	font-size: 13px;
}

body {
	margin: 0;
	font-family: "microsoft yahei", arial, tahoma, helvetica, sans-serif;
}

.noDataTips {
	position: absolute;
	left: 50%;
	top: 45px;
	height: 30px;
	line-height: 30px;
	margin-left: -105px;
	opacity: .7;
	background: #151516;
	font-size: 15px;
	z-index: 100;
	width: 138px;
}

.tabtop_left {
	float: left;
	display: inline;
	color: #FFF;
	line-height: 30px;
	margin-left: 15px;
	font-size: 13px;
	font-weight: bold;
}

.hidePromptTeb {
	float: right;
	display: block;
	width: 14px;
	height: 14px;
	background: url("<%=path %>/img/GisLocation/indexImg.png") -160px 0 no-repeat;
	cursor: pointer;
	margin: 8px 8px 0 0;
}