#hori-menu {
	width: 488px;
	height: 62px;
	border-radius: 5px;
	background-color: white;
	box-shadow: -1px 2px 5px 0px  rgba(4, 0, 0, 0.57);
}

.active {
	background-color: aliceblue;
}
.active>a{
}

#hori-flow{
	display: none;
	position: absolute;
	top:72px;
	left:-200px;
}

#hori-alert{
	display: none;
	position: absolute;
	top:72px;
	left:135px;
}

#hori-info{
	height:30px;
	width: 162px;
	background-image: url("/hbcx/img/index/legend.png");
	background-repeat: no-repeat;
	z-index:999;
	position: absolute;
	bottom:3%;
	right:1%;
	display:none;
	border-radius: 5px;
	box-shadow: -1px 2px 5px 0px  rgba(4, 0, 0, 0.57);
}

.hori-op {
	width: 120px;
	height: 60px;
	float: left;
	margin: 1px;
	text-align: center;
}
.hori-op:hover{
	background-color: aliceblue;
	cursor: pointer;
}

.hori-logo{
	margin: 14px 10px 14px 14px;
	float: left;
}

.hori-text{
	font-family:"微软雅黑";
	color: gray;
	font-size: 16px;
	line-height: 60px;
}

.hori-icon{
	margin-left: 5px;
	font-size: 16px;
	line-height: 60px;
	color: gray;
}
.hori-icon:hover{
	color: blue;
}

ul,li{
    list-style: none;
}
.hori-dropdown{
    width: 685px;
}
.hori-flow{
	background-color: #ffffff;
    box-shadow: -1px 2px 5px 0px  rgba(4, 0, 0, 0.57);
    border-radius: 4px;
}

.hori-dropdown>ul{
 padding: 3px 3px;
}
.hori-flow>ul>li{
    width: 100px;
    height: 25px;
    display: inline-block;
    margin: 4px 5px;
    text-align: left;
    line-height: 25px;
}
.hori-dropdown>ul>li:hover{
    background-color: #0f89f5;
    border-radius: 3px;
}
.hori-dropdown>ul>li:hover a{
    color: white;
}
.hori-dropdown>ul>li>a{
    text-decoration: none;
    color: #303030;
    font-size: 20px;
}

.hori-alert{
	width: 100px;
	height: 70px;
	background-color: #ffffff;
    box-shadow: -1px 2px 5px 0px  rgba(4, 0, 0, 0.57);
    border-radius: 4px;
}

.hori-alert>ul>li{
    width: 90px;
    height: 25px;
    display: inline-block;
    margin: 4px 2px;
    text-align: center;
    line-height: 25px;
    cursor:pointer;
}